<h1> Student Info </h1>
<h3>Name: <%= @student.name %></h3>
<h3>Age: <%= @student.age %></h3>
<h3>Major: <%= @student.major %></h3>
<h3>Instructor: <%= @student.instructor.name %></h3>

<button><%= link_to "back", students_path %></button>
<%= form_for @student, method: "DELETE" do |f| %>
    <%= f.submit "Delete" %>
<% end %>
<button><%= link_to "Edit", edit_student_path(@student) %> </button>