<h1>Instructor Info</h1>
<h4>Name: <%= @instructor.name %>
<ul>
<h4>Students: 
<% @instructor.students.each do |student| %>
  <li><%= link_to student.name, student_path(student) %></li>
<% end %>
</h4>
</ul>

<button><%= link_to "back", instructors_path %></button>
<%= form_for @instructor, method: "DELETE" do |f| %>
  <%= f.submit "delete" %>
<% end %>